<div>
  <p-card *ngIf="facture">
    <ng-template pTemplate="header">
      <div class="flex p-1 justify-content-between">
        <button pButton type="button" label="Imprimer" class="p-button-outlined" (click)="imprimer()"></button>
      </div>
      <p-divider></p-divider>
    </ng-template>

    <h1><strong>{{facture.commande?.reference}}</strong></h1>
    <div class="flex">
      <div class="flex justify-content-start align-items-start">
        <h6><strong>Client</strong></h6>
        <p-divider layout="vertical" class="h-full"></p-divider>
        <div>
          <p>{{facture.commande?.client?.nomComplet}}</p>
          <p>{{facture.commande?.client?.tel}}</p>
          <p>{{facture.commande?.client?.adresseComplete}}</p>
        </div>
      </div>

      <div class="flex justify-content-start align-items-start ml-5">
        <h6><strong>Date de la Facture</strong></h6>
        <p-divider layout="vertical" class="h-full"></p-divider>
        <div>
          <p>{{facture.commande?.date | date}}</p>
        </div>
      </div>
    </div>

    <p-tabView styleClass="mt-5">
      <p-tabPanel header="Ligne de la facture" >
        <p-table [value]="facture.commande?.ligneCommandes" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                <th>Référece</th>
                <th>Article</th>
                <th>Quantité</th>
                <th>Prix vente/unité</th>
                <th>Sous-total</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ligneCommande>
            <tr [ngStyle]="{'background': ligneCommande.alert == -1 ? 'rgb(255 0 0 / 83%)' : (ligneCommande.alert==1 ? 'rgb(92 233 20 / 73%)' : null),
            'color': ligneCommande.alert == -1 ? 'white' : '' }">
                  <td>{{ligneCommande.article.reference}}</td>
                  <td>{{ligneCommande.article.nom}}</td>
                  <td>{{ligneCommande.qnt}}</td>
                  <td>{{ligneCommande.prixVentReel}}</td>
                  <td>{{ligneCommande.sousTotal | number }}</td> <!--I should let just 2 number after comma-->
              </tr>

          </ng-template>
      </p-table>

      <p class="mt-5"><strong>Total HT : </strong>{{facture.commande.total | number : '.3-3'}} DH</p>
      <p><strong>TVA 20%: </strong>{{facture.commande.total*0.2 | number : '.3-3'}} DH</p>
      <p><strong>Total TTC: </strong>{{facture.commande.total * 1.2 | number : '.3-3' }} DH</p>
      </p-tabPanel>
      <p-tabPanel header="Autres informations">
        <p><strong>Vendeur Nom complet : </strong>{{facture.commande?.vendeur?.nomComplet}}</p>
        <p><strong>Vendeur Email : </strong>{{facture.commande?.vendeur?.mailProfess}}</p>
        <p><strong>Vendeur telephone : </strong>{{facture.commande?.vendeur?.telProfess}}</p>
        <p-divider></p-divider>
        <p><strong>Benéfice de la commande : </strong> --- DH</p>
      </p-tabPanel>

  </p-tabView>
  </p-card>
</div>


