<div>
  <p-card *ngIf="commande">
    <ng-template pTemplate="header">
      <div class="flex p-1 justify-content-between">
        <div *ngIf="!commande.factured">
          <button pButton type="button" label="Facturer" class="p-button-outlined" (click)="onFacturerClick()"></button>
        </div>
        <div *ngIf="commande.factured">
          <button pButton type="button" [label]="'Facture'" (click)="onFacturesClick()" class="p-button-outlined"></button>
        </div>
      </div>
      <p-divider></p-divider>
    </ng-template>

    <h1><strong>{{commande?.reference}}</strong></h1>
    <div class="flex">
      <div class="flex justify-content-start align-items-start">
        <h6><strong>Client</strong></h6>
        <p-divider layout="vertical" class="h-full"></p-divider>
        <div>
          <p>{{commande?.client?.nomComplet}}</p>
          <p>{{commande?.client?.adresseComplete}}</p>
          <p>{{commande?.client?.tel}}</p>
        </div>
      </div>

      <div class="flex justify-content-start align-items-start ml-5">
        <h6><strong>Date de la commande</strong></h6>
        <p-divider layout="vertical" class="h-full"></p-divider>
        <div>
          <p>{{commande?.date | date}}</p>
        </div>
      </div>
    </div>

    <p-tabView styleClass="mt-5">
      <p-tabPanel header="Ligne de la commande" >
        <p-table [value]="commande?.ligneCommandes" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                <th>Référece</th>
                <th>Article</th>
                <th>Prix Achat</th>
                <th>Prix/Commande</th>
                <th>Quantité</th>
                <th>Prix vente/unité</th>
                <th>Sous-total</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ligneCommande>
              <tr [ngStyle]="{'background': ligneCommande.alert == -1 ? 'rgb(255 0 0 / 83%)' : (ligneCommande.alert==1 ? 'rgb(92 233 20 / 73%)' : null),
                             'color': ligneCommande.alert == -1 ? 'white' : '' }"

              >
                  <td>{{ligneCommande.article.reference}}</td>
                  <td>{{ligneCommande.article.nom}}</td>
                  <td>{{ligneCommande.article.prixAchat || '----'}}</td>
                  <td>{{ligneCommande.article.prixVenteParCommande || '----'}}</td>
                  <td>{{ligneCommande.qnt}}</td>
                  <td>{{ligneCommande.prixVentReel}}</td>
                  <td>{{ligneCommande.sousTotal}}</td>
              </tr>
          </ng-template>
      </p-table>


      </p-tabPanel>
      <p-tabPanel header="Autres informations">
          <p><strong>Vendeur Nom complet : </strong>{{commande?.vendeur?.nomComplet}}</p>
          <p><strong>Vendeur Email : </strong>{{commande?.vendeur?.mailProfess}}</p>
          <p><strong>Vendeur telephone : </strong>{{commande?.vendeur?.telProfess}}</p>
          <p-divider></p-divider>
          <p><strong>Benéfice de la commande : </strong>---- DH</p>

      </p-tabPanel>
  </p-tabView>
  <button pButton disabled="true" class="p-button-sm p-button-raised p-button-rounded" (click)="modifierLignesDeCommande()" style="float: right">
    Ajouter
  </button>
  </p-card>
</div>





